<div class="papa">
    <div class="header-block d-flex justify-content-between">
        <div class="mb-auto mt-auto">
            <img class="logo d-inline" src="../../assets/images/logotipo.png" alt="">
        <h4 class="titulo d-inline">PARKING LOT</h4>
        </div>
        <div class="lr-btns">
            <a class="btns" routerLink="/login">Entrar</a>
        </div>
    </div>
    <div class="circle-container">
        <div class="circle-text">
            <h5 class="msn-circle text-center">Parking Lot Administrativo</h5>  
        </div>
    </div>
</div>