.circle-container {
    height: 67vh;
    display: flex;
}

.circle-text {
    border-radius: 50%;
    background: rgb(39, 36, 36); 
    width: 250px;
    height: 250px;
    left: 558px;
    top: 203px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.msn-circle {
    top: 90px;
    font-family: KoHo;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    margin:auto;
    color: blanchedalmond;
    // justify-content: center;
    align-items: center;
}