<h3>Reservas</h3>
<button mat-raised-button class="all-list" color="warn" (click)='getAllReservations()'>Recargar Reservas</button>
<ng-container *ngIf='reservations'>
    <div>
        <table class="table table-striped">
            <thead class="">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Hora Inicial</th>
                    <th scope="col">Hora Final</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Vehiculo</th>
                    <th scope="col">Slot</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let reservation of reservations'>
                    <td> {{ reservation.id }} </td>
                    <td> {{ reservation.user.name }} </td>
                    <td> {{ reservation.initial_hour }} </td>
                    <td> {{ reservation.final_hour }} </td>
                    <td> {{ reservation.number_plate }} </td>
                    <td> {{ reservation.vehicle_type }} </td>
                    <td> {{ reservation.slot }} </td>
                    <button  (click)='getDelReservation(reservation.id )' mat-raised-button id="delete">
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                    <button (click)='openEdit(reservation.id)' mat-raised-button id="edit">
                        <span class="material-icons">
                            mode_edit
                        </span>
                    </button>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>