* {
    // padding: 1%;
    // padding: 16px;
    font-size: 16px;
    font-family: Koho;
}

h1 {
    font-family: Koho;
    font-weight: bolder;
    margin-left: 15px;
}

div {
    margin-left: 20px;
}

.busqueda {
    background: orange;
    color: black;
}

.busqueda:hover {
    background: rgb(216, 146, 16);
}

.all-listt {
    background: #e4e713;
    color: black;
    margin-bottom: 15px;
    margin-left: 15px;
}

.all-listt:hover {
    background: #bfc21b;
}

#delete {
    background: #e4e713;
    margin: 10px;
}

#delete:hover {
    background: orangered;
}

#edit {
    background: rgb(7, 194, 7);
}

#edit:hover {
    background: green;
}