<h2 mat-dialog-title>Modificar</h2>
<form [formGroup]='form_Edit'>
    <mat-dialog-content>
          <div>
            <label><b>Num. documento</b></label>
            <br>
            <mat-form-field>
                <mat-label>Ingrese nuevo num. Documento</mat-label>
                <input matInput formControlName="document">   
            </mat-form-field>
        </div>
        <div>
            <label><b>Nombre</b></label>
            <br>
            <mat-form-field>
                <mat-label>Ingrese nuevo nombre</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
    
        <div>
            <label><b>Num. Telefono</b></label>
            <br>
            <mat-form-field>
                <mat-label>Ingrese nuevo num. telefono</mat-label>
                <input matInput formControlName='cellphone'>
            </mat-form-field>
        </div>
    
        <div>
            <label><b>Genero del usuario</b></label>
            <br>
            <label>Elija una opcion</label>
            <br>
            <br>
            <mat-radio-group  formControlName='gender'>
                <mat-radio-button value="M">Masculino</mat-radio-button>
                <mat-radio-button class="rb" value="F">Femenino</mat-radio-button>
                <mat-radio-button class="rb" value="U">Indefinido</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>
        <div>
            <label><b>Num. placa</b></label>
            <br>
            <mat-form-field>
                <mat-label>Ingrese nuevo num. placa</mat-label>
                <input matInput formControlName="number_plate">
            </mat-form-field>
        </div>
        
        <div>
            <label><b>Tipo de vehiculo</b></label>
            <br>
            <label>Elija una opcion</label>
            <br>
            <br>
            <mat-radio-group formControlName='vehicle_type'>
                <mat-radio-button color='warn' value="auto">Auto</mat-radio-button>
                <mat-radio-button class="rbtv" value="moto">Moto</mat-radio-button>
            </mat-radio-group>
        </div>
    
    </mat-dialog-content>
    <mat-dialog-actions>
        <button (click)='onNoClick()' mat-raised-button class="notSave">Cerrar</button>
        <button (click)='saveEdit(form_Edit.value)' mat-raised-button class="save">Guardar</button>
    </mat-dialog-actions>
</form>

