h1 {
    font-family: Koho;
    font-weight: bolder;
    font-size: 20px;
}

* {
    padding: 1%;
    font-family: Koho;
    font-size: 16px;
    color: black;
}

mat-paginator {
    background: gainsboro;
    // justify-content: end;
}

.busqueda {
    background: orange;
    color: black;
}

.busqueda:hover {
    background: rgb(216, 146, 16);
}

.all-list {
    background: #e4e713;
    color: black;
    margin-left: 15px;
}

.all-list:hover {
    background: #bfc21b;
}

#delete {
    background: #e4e713;
    margin: 10px;
}

#delete:hover {
    background: orangered;
}

#edit {
    background: rgb(7, 194, 7);
    text-decoration: none;
}

#edit:hover {
    background: green;
}
