<h1>Usuarios</h1>
<mat-form-field>
    <mat-label>opciones de busqueda</mat-label>
    <mat-select value='none' (selectionChange)='saveChanges($event)'>
        <mat-option value='none'>ninguno</mat-option>
        <mat-option value='document'>Documento</mat-option>
        <mat-option value='name'>Nombre</mat-option>
        <mat-option value='email'>Correo</mat-option> 
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Campo de busqueda</mat-label>
    <input matInput placeholder="" type="text" [formControl]='searchUser'>
</mat-form-field>
<button mat-raised-button class="busqueda" (click)='getSearch($event)'>Buscar</button>
<br>
<button mat-raised-button class="all-list" (click)='getAllUsers()'>Ver todos los usuarios</button>
<ng-container *ngIf='users'>
    <div>
        <table class="table table-striped">
            <thead class="">
                <tr align="center">
                    <th scope="col">NumDocumento</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Email</th>
                    <th scope="col">NumTelefono</th>
                    <th scope="col">Genero</th>
                    <th scope="col">
                        Estado  
                        ( Activo: <img id="able" src="../../assets/images/active.png" alt="able"> / 
                        No activo: <img id="disable" src="../../assets/images/disable.png" alt="disable"> )
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" *ngFor='let user of users'>
                    <td> {{ user.document }} </td>
                    <td> {{ user.name }} </td>
                    <td> {{ user.email }} </td>
                    <td> {{ user.cellphone }} </td>
                    <td> {{ user.gender }} </td>
                    <td *ngIf='user.is_active'>
                        <img id="able" src="../../assets/images/active.png" alt="able">
                    </td>
                    <td *ngIf='!user.is_active'>
                        <img id="disable" src="../../assets/images/disable.png" alt="disable">
                    </td>
                    <button (click)='getDelUser(user.id)' mat-raised-button id="delete">
                        <img src="../../assets/images/delete.png">
                    </button>
                    <button (click)='openEdit(user.id)' mat-raised-button id="edit">
                        <img src="../../assets/images/edit.png">
                    </button>
                </tr>
            </tbody>
        </table>
        <mat-paginator 
              [pageSize]="10"
              >
        </mat-paginator>
    </div>
</ng-container>