<div class="main-container">
    <router-outlet></router-outlet>
</div>
<footer class="foo">
    <div class="d-flex align-items-center justify-content-center">
        <img class="logo-foo" src="../assets/images/logotipo_blanco.png" alt="">
    </div>    
    <div class="d-flex align-items-center justify-content-center">
        <div>
            <h5 class="w-100 foo-name">ParkingLot &trade;</h5>
            <h5 class="w-100 d-min">All rights reserved</h5>
        </div>
    </div>
</footer>
<!-- <div class="main-container">
    <router-outlet></router-outlet>
</div>
<footer class="foo">
    <div class="container d-flex align-items-center justify-content-between my-auto">
        <img class="logo-foo" src="../assets/images/logotipo_blanco.png" alt="">
        <div class="">
            <h5 class="w-100">ParkingLot &trade;</h5>
            <h5 class="w-100">All rights reserved</h5>
        </div>
    </div>
</footer> -->