.s {
    min-height: 80vh;
}

.sidebar-container {
    background: gainsboro;
    width: 35vh;
    height: 80vh;
    font-size: 16px;
}

.menu-bar {
    background: slategray;
}

.material-icons-outlined {
    font-size: 40px;
}

.opciones {
    width: 100%;
    padding: 15px;
    color: black;
    text-decoration: none;
}

.opciones:hover {
    background: orange;
}

hr {
    font-size: 2px;
}

a{
    padding: 5%;
    text-decoration: none;
    border: none;
    font-family: Koho;
    color: black;
}

a:hover {
    font-weight: bold;
}
.sal-btn {
    color: black;
    font-weight: bold;
    padding: 20px;
}

.sal-btn:hover {
    color: red;
}

#close {
    text-decoration: none;
}
